@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #212121;
    color: aliceblue;
}

.buttons-panel{
    display: grid;
    gap: 10px;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    height: 90vh;
    width: 100vw;
    align-items: center;
    margin: 0px 20px;
    padding: 0px 20px;
    text-align: center;
}

.screen-panel{
    display: flex;
}

.screen{
    height: 10vh;
    width: 90vw;
    text-align: end;
}

.btn{
    background-color: #414141;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: .3s ease;
}

.btn:hover{
    background-color: #71717171;
    color: aquamarine;
    transform: rotate(361deg);
    transition: .5s ease;
    cursor: pointer;
}